*{
    margin: 0;
    padding: 0;
}
#wrap{
    margin: 0 auto;
    width: 800px;
    height: 300px;
    padding: 20px;
}
#wrap img{
    width: 124px;
    height: 140px;
    margin: 2px;
}
#wrap img.rotate-animation{
    animation: rotateAni 1s ease-in-out;
}

@keyframes rotateAni {
    100% {
        transform: rotateY(360deg);
    }
}